@import "../node_modules/@wordpress/base-styles/colors";
@import "../node_modules/@wordpress/base-styles/variables";
@import "../node_modules/@wordpress/base-styles/mixins";
@import "../node_modules/@wordpress/base-styles/breakpoints";
@import "../node_modules/@wordpress/base-styles/animations";
@import "../node_modules/@wordpress/base-styles/z-index";
@import "arrows.scss";

// Trick the Site Editor into showing the plugin render.
.edit-site div:nth-child(3) {
	display: block !important;;
}

/*
* Uncomment this part to make the rest of the UI clickable.
* Warning: will prevent closing the modal by clicking outside of it.

.components-modal__screen-overlay:has(.site-editor-tutorial) {
	position: initial;
}
*/

.site-editor-tutorial__hint {
	background: var(--wp-block-synced-color);
	/* 
	 * Override specific border-radius styles that the Site Editor 
	 * adds to the first and last navigation items.
	 */
	border-radius: 99999px !important;
	z-index: 999999;
	opacity: 1;
	border: none;
	padding: 0;
	transition: all .2s ease-out;
	box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
	animation: pulse 2.6s infinite;
}

.site-editor-tutorial__hint:hover,
.site-editor-tutorial__hint:focus,
.site-editor-tutorial__hint:active {
	animation: none;
}

@keyframes pulse {
	0% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
	}
	100% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}
}

.site-editor-tutorial {
	$image-height: 300px;
	$image-width: 320px;
	overflow: initial;

	@include break-small() {
		width: 600px;
	}

	.edit-site-welcome-guide__text {
		font-size: 1rem;
		padding: 0 32px 32px 32px;
		margin: 0;
	}

	.site-editor-tutorial__content {
		padding: 0;
		margin-top: 0;
		border-radius: $radius-block-ui;

		&::before {
			content: none;
		}
	}

	.components-modal__header {
		border-bottom: none;
		padding: 0;
		position: sticky;
		height: $header-height;

		.components-button {
			align-self: flex-start;
			margin: $grid-unit-10 $grid-unit-10 0 0;
			position: static;
		}
	}

	hr {
		border: 1px solid var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9));
		margin: 3px auto 12px auto;
		width: 90%;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: -$header-height;
		min-height: 100%;
	}

	.components-modal__content {
		margin-top: 0;
		padding: 0;
	}

	&__page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		@include break-small() {
			//min-height: $image-height;
		}
	}

	&__footer {
		align-content: center;
		display: flex;
		height: $button-size;
		justify-content: center;
		margin: 0 0 $grid-unit-30 0;
		padding: 0 $grid-unit-40;
		position: relative;
		width: 100%;
	}

	&__page-control {
		margin: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0;
		}

		.components-button {
			height: 30px;
			min-width: 20px;
			margin: -6px 0;
			color: $gray-200;
		}

		li[aria-current="step"] .components-button {
			color: var(--wp-components-color-accent, var(--wp-admin-theme-color));
		}
	}
}

.components-modal__frame.site-editor-tutorial {
	border: none;
	min-width: 312px;
	max-height: 575px;

	@media ( max-width: $break-small ) {
		margin: auto;
		max-width: calc(100vw - #{$grid-unit-20} * 2);
	}
}

.components-button {
	&.site-editor-tutorial__back-button,
	&.site-editor-tutorial__forward-button,
	&.site-editor-tutorial__finish-button {
		position: absolute;
	}

	&.site-editor-tutorial__back-button {
		left: $grid-unit-40;
	}

	&.site-editor-tutorial__forward-button,
	&.site-editor-tutorial__finish-button {
		right: $grid-unit-40;
	}
}
